.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "title description";
  grid-column-gap: 20px;
  flex-direction: column;

  width: 100%;
  max-width: 1536px;
  padding: 50px 0 80px 0;

  background-color: white;
}

.title-container {
  opacity: 0;
  transform: translateY(20px);
  transition: 1s all ease-in-out;
}

.title {
  font-size: 44px;
  color: #1c1c1c;
  font-weight: normal;
  margin: 0 0 20px 0;
  line-height: 56px;
  letter-spacing: 3px;
  text-transform: uppercase;
  max-width: 1100px;
}

.subtitle {
  font-size: 18px;
  color: #292929;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0px;
  line-height: 25px;
  margin: 0;
  max-width: 1100px;
}

.description-container {
  opacity: 0;
  transform: translateY(20px);
  transition: 1s all ease-in-out;
}

.description {
  font-size: 18px;
  color: #292929;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 25px;
  margin: 0;

  max-width: 1100px;
}

.description p {
  margin: 0;
}

@media screen and (min-width: 1026px) and (max-width: 1380px) {
  .container {
    max-width: 1300px;
    padding: 20px 20px 80px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 20px 20px 80px;
  }
  .title-container{
    margin: 0 0 30px 0;
  }
  .title{
    margin: 0 0 30px 0;
    line-height: 32px;
  }

}

.enter-animation {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.enter-animation+.enter-animation {
  transition-delay: .2s;
}
